In [1]:
import pandas as pd
import numpy as np

In [2]:
agw=pd.read_csv("c:/Users/renee/desktop/AG_new.csv")

In [3]:
agw.head()

,Column1,Date,HourPST,Min°F,Avg°F,Max°F,DewPoint°F,RelHum%,TotPrecin,Speedmph,...,LeafWetu.,SolarRadW/m²,8 in. SoilTmp°F,Atm.Press.inHg,2nd AirTempAvg°F,DTPST,Hour,Year,Month,Day
0,0,7/1/2015,01:00,62.5,63.3,64.0,53.4,70.1,0.0,0.0,...,0.0,0.0,78.4,30.06,62.8,7/1/2015 0:00,0,2015,7,1
1,1,7/1/2015,02:00,61.1,61.5,62.0,53.9,76.2,0.0,0.0,...,0.0,0.0,78.0,30.06,61.0,7/1/2015 1:00,1,2015,7,1
2,2,7/1/2015,03:00,60.4,60.8,61.1,54.7,80.2,0.0,0.0,...,0.0,0.0,77.5,30.06,60.2,7/1/2015 2:00,2,2015,7,1
3,3,7/1/2015,04:00,60.1,60.3,60.6,55.0,82.5,0.0,0.0,...,0.0,0.0,77.1,30.06,59.8,7/1/2015 3:00,3,2015,7,1
4,4,7/1/2015,05:00,59.5,59.8,60.1,54.7,83.2,0.0,0.0,...,0.0,10.0,76.7,30.06,59.3,7/1/2015 4:00,4,2015,7,1

In [4]:
UTC=agw.DTPST.values

In [5]:
agw.dtypes

Column1               int64
Date                 object
HourPST              object
Min°F               float64
Avg°F               float64
Max°F               float64
DewPoint°F          float64
RelHum%             float64
TotPrecin           float64
Speedmph            float64
Gustmph             float64
Dir°                 object
LeafWetu.           float64
SolarRadW/m²        float64
8 in. SoilTmp°F     float64
Atm.Press.inHg      float64
2nd AirTempAvg°F    float64
DTPST                object
Hour                  int64
Year                  int64
Month                 int64
Day                   int64
dtype: object

In [6]:
print(UTC[:15])

['7/1/2015 0:00' '7/1/2015 1:00' '7/1/2015 2:00' '7/1/2015 3:00'
 '7/1/2015 4:00' '7/1/2015 5:00' '7/1/2015 6:00' '7/1/2015 7:00'
 '7/1/2015 8:00' '7/1/2015 9:00' '7/1/2015 10:00' '7/1/2015 11:00'
 '7/1/2015 12:00' '7/1/2015 13:00' '7/1/2015 14:00']

In [7]:
agw["UTC"]=pd.to_datetime(UTC, utc=True)

In [8]:
agw.head()

,Column1,Date,HourPST,Min°F,Avg°F,Max°F,DewPoint°F,RelHum%,TotPrecin,Speedmph,...,SolarRadW/m²,8 in. SoilTmp°F,Atm.Press.inHg,2nd AirTempAvg°F,DTPST,Hour,Year,Month,Day,UTC
0,0,7/1/2015,01:00,62.5,63.3,64.0,53.4,70.1,0.0,0.0,...,0.0,78.4,30.06,62.8,7/1/2015 0:00,0,2015,7,1,2015-07-01 00:00:00+00:00
1,1,7/1/2015,02:00,61.1,61.5,62.0,53.9,76.2,0.0,0.0,...,0.0,78.0,30.06,61.0,7/1/2015 1:00,1,2015,7,1,2015-07-01 01:00:00+00:00
2,2,7/1/2015,03:00,60.4,60.8,61.1,54.7,80.2,0.0,0.0,...,0.0,77.5,30.06,60.2,7/1/2015 2:00,2,2015,7,1,2015-07-01 02:00:00+00:00
3,3,7/1/2015,04:00,60.1,60.3,60.6,55.0,82.5,0.0,0.0,...,0.0,77.1,30.06,59.8,7/1/2015 3:00,3,2015,7,1,2015-07-01 03:00:00+00:00
4,4,7/1/2015,05:00,59.5,59.8,60.1,54.7,83.2,0.0,0.0,...,10.0,76.7,30.06,59.3,7/1/2015 4:00,4,2015,7,1,2015-07-01 04:00:00+00:00

In [9]:
Dti=pd.DatetimeIndex(UTC)

In [10]:
agw.shape

(40247, 23)

In [11]:
agw.dtypes

Column1                           int64
Date                             object
HourPST                          object
Min°F                           float64
Avg°F                           float64
Max°F                           float64
DewPoint°F                      float64
RelHum%                         float64
TotPrecin                       float64
Speedmph                        float64
Gustmph                         float64
Dir°                             object
LeafWetu.                       float64
SolarRadW/m²                    float64
8 in. SoilTmp°F                 float64
Atm.Press.inHg                  float64
2nd AirTempAvg°F                float64
DTPST                            object
Hour                              int64
Year                              int64
Month                             int64
Day                               int64
UTC                 datetime64[ns, UTC]
dtype: object

In [12]:
agw.to_csv("AG_UTC_DTI.csv")