In [1]:
import numpy as np
import pandas as pd

In [2]:
scl=pd.read_csv("c:/Users/renee/desktop/SCLXX.csv")

In [3]:
scl.head()

,BA,UTC_time,Local_date,Hour,Data_issue,Local_time,Time_zone,Generation only,DF,D,...,UTC offset calculated,UTC0 offset,UTC1 offset,UTC2 offset,UTCD offset,UTC offset mismatch,File 0,File 1,File 2,File D
0,SCL,7/1/2015 8:00,7/1/2015,1,1,7/1/2015 1:00,Pacific,N,865.0,873.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN
1,SCL,7/1/2015 9:00,7/1/2015,2,1,7/1/2015 2:00,Pacific,N,841.0,833.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN
2,SCL,7/1/2015 10:00,7/1/2015,3,1,7/1/2015 3:00,Pacific,N,790.0,802.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN
3,SCL,7/1/2015 11:00,7/1/2015,4,1,7/1/2015 4:00,Pacific,N,783.0,796.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN
4,SCL,7/1/2015 12:00,7/1/2015,5,1,7/1/2015 5:00,Pacific,N,800.0,807.0,...,7,7.0,7.0,7.0,0,0,SCLdaily1822015,SCLdaily1832015,SCLdaily1842015,NaN

In [4]:
utc=scl.UTC_time.values

In [5]:
utc.size

40489

In [6]:
scl.dtypes

BA                      object
UTC_time                object
Local_date              object
Hour                     int64
Data_issue               int64
                        ...
UTC offset mismatch      int64
File 0                  object
File 1                  object
File 2                  object
File D                 float64
Length: 77, dtype: object

In [7]:
utc=pd.to_datetime(utc, utc=True)

In [8]:
scl["utc"]=utc

In [9]:
dti=pd.DatetimeIndex(utc)

In [10]:
scl.shape

(40489, 78)

In [11]:
scl.dtypes

BA                         object
UTC_time                   object
Local_date                 object
Hour                        int64
Data_issue                  int64
                     ...
File 0                     object
File 1                     object
File 2                     object
File D                    float64
utc           datetime64[ns, UTC]
Length: 78, dtype: object

In [12]:
scl.to_csv("SCL_UTC_DTI.csv")