In [4]:
# notebook to inspect weather data

%matplotlib inline
import numpy as np
import pandas as pd

In [5]:
# read file

dataset=pd.read_csv('SEA_DATA/NOAA Data/2020/727930-24233-2020.csv',skiprows=0)

In [6]:
dataset.head

<bound method NDFrame.head of        USAF   WBAN  YR--MODAHRMN  DIR SPD  GUS  CLG  SKC  L  M  ...     SLP  \
0    727930  24233  202001010000  190  18  ***  ***  OVC  *  *  ...  1008.1
1    727930  24233  202001010029  190  15   26    8  ***  *  *  ...  ******
2    727930  24233  202001010053  170  18   26    8  ***  *  *  ...  1006.4
3    727930  24233  202001010153  180  21   31    8  ***  *  *  ...  1005.9
4    727930  24233  202001010253  190  23   34    6  ***  *  *  ...  1005.1
..      ...    ...           ...  ...  ..  ...  ...  ... .. ..  ...     ...
517  727930  24233  202001140553  010  11  ***    7  OVC  *  *  ...  1009.9
518  727930  24233  202001140627  040  11  ***    6  OVC  *  *  ...  ******
519  727930  24233  202001140644  020  11  ***    6  OVC  *  *  ...  ******
520  727930  24233  202001140653  020  11  ***    6  OVC  *  *  ...  1010.0
521  727930  24233  202001140753  030  10  ***    6  OVC  *  *  ...  1010.1

       ALT    STP  MAX  MIN       PCP01  PCP06  PCP24  PCPXX   SD
0    *****  991.2   50   47       *****   0.12  *****  *****   **
1    29.75  991.8  ***  ***        0.07  *****  *****  *****   **
2    29.70  990.1  ***  ***        0.10  *****  *****  *****   **
3    29.69  989.8  ***  ***        0.02  *****  *****  *****   **
4    29.66  988.7  ***  ***        0.01  *****  *****   0.13   **
..     ...    ...  ...  ...         ...    ...    ...    ...  ...
517  29.79  993.1  ***  ***       0.00T   0.01  *****  *****   **
518  29.79  993.1  ***  ***       *****  *****  *****  *****   **
519  29.80  993.4  ***  ***       *****  *****  *****  *****   **
520  29.80  993.4  ***  ***        0.01  *****  *****  *****   **
521  29.80  993.4  ***  ***  0.00T*****  *****  *****     **  NaN

[522 rows x 33 columns]>

In [7]:
# select just datetime and temp columns
selectCols = dataset[['YR--MODAHRMN','TEMP']]

# create new dataframe with these selected columns
newDF=pd.DataFrame()

# insert into newDF and rename columns into something less hideous
newDF['datetime']=selectCols['YR--MODAHRMN']
newDF['temp']=selectCols['TEMP']

# convert ugly datetime to a nice looking one
newDF['datetime']=pd.to_datetime(newDF['datetime'].astype(str), format='%Y%m%d%H%M', utc=True)

In [8]:
newDF.head()

                   datetime temp
0 2020-01-01 00:00:00+00:00   50
1 2020-01-01 00:29:00+00:00   49
2 2020-01-01 00:53:00+00:00   49
3 2020-01-01 01:53:00+00:00   49
4 2020-01-01 02:53:00+00:00   50

In [9]:
# adding new lagged variable columns
newColumns = ['T1','T2','T3','T4','T5']
newDF = newDF.reindex(columns = [*newDF.columns.tolist(), *newColumns], fill_value=0)

In [10]:
newDF.head()

                   datetime temp  T1  T2  T3  T4  T5
0 2020-01-01 00:00:00+00:00   50   0   0   0   0   0
1 2020-01-01 00:29:00+00:00   49   0   0   0   0   0
2 2020-01-01 00:53:00+00:00   49   0   0   0   0   0
3 2020-01-01 01:53:00+00:00   49   0   0   0   0   0
4 2020-01-01 02:53:00+00:00   50   0   0   0   0   0

In [11]:
# add lagged variables to T1-T5 columns

for i in newDF.columns[newDF.columns.str.contains('T')]:
    newDF[i] = newDF['temp'].shift(int(i[-1]),fill_value = 0)

In [12]:
newDF.head()

                   datetime temp  T1  T2  T3  T4 T5
0 2020-01-01 00:00:00+00:00   50   0   0   0   0  0
1 2020-01-01 00:29:00+00:00   49  50   0   0   0  0
2 2020-01-01 00:53:00+00:00   49  49  50   0   0  0
3 2020-01-01 01:53:00+00:00   49  49  49  50   0  0
4 2020-01-01 02:53:00+00:00   50  49  49  49  50  0