In [50]:
import pandas as pd
import numpy as np

In [51]:
d_ref=pd.read_csv("scl666.csv")
d_check=pd.read_csv("agw666.csv")

In [52]:
d_check.head()

,Unnamed: 0,date_Time,Unnamed: 0.1,temp,dew,rh,spd,gust,atm,min,avg,max,Time
0,0,2015-07-01 00:00:00+00:00,0,62.8,53.4,70.1,0.0,0.0,30.06,62.5,63.3,64.0,2015-07-01 00:00:00
1,1,2015-07-01 01:00:00+00:00,1,61.0,53.9,76.2,0.0,0.0,30.06,61.1,61.5,62.0,2015-07-01 01:00:00
2,2,2015-07-01 02:00:00+00:00,2,60.2,54.7,80.2,0.0,0.0,30.06,60.4,60.8,61.1,2015-07-01 02:00:00
3,3,2015-07-01 03:00:00+00:00,3,59.8,55.0,82.5,0.0,0.0,30.06,60.1,60.3,60.6,2015-07-01 03:00:00
4,4,2015-07-01 04:00:00+00:00,4,59.3,54.7,83.2,0.0,0.0,30.06,59.5,59.8,60.1,2015-07-01 04:00:00

In [53]:
dti=pd.DatetimeIndex(d_ref["time"])

In [54]:
Dti=pd.DatetimeIndex(d_check["Time"])

In [55]:
inx=pd.Index.drop_duplicates(Dti, keep="first")

In [56]:
inx.size

40242

In [57]:
dti.size

40489

In [58]:
new= inx.isin(dti)

In [59]:
inx[new]

DatetimeIndex(['2015-07-01 08:00:00', '2015-07-01 09:00:00',
               '2015-07-01 10:00:00', '2015-07-01 11:00:00',
               '2015-07-01 12:00:00', '2015-07-01 13:00:00',
               '2015-07-01 14:00:00', '2015-07-01 15:00:00',
               '2015-07-01 16:00:00', '2015-07-01 17:00:00',
               ...
               '2020-02-01 13:00:00', '2020-02-01 14:00:00',
               '2020-02-01 15:00:00', '2020-02-01 16:00:00',
               '2020-02-01 17:00:00', '2020-02-01 18:00:00',
               '2020-02-01 19:00:00', '2020-02-01 20:00:00',
               '2020-02-01 21:00:00', '2020-02-01 22:00:00'],
              dtype='datetime64[ns]', name='Time', length=40234, freq=None)

In [60]:
new.size

40242

In [61]:
dti.size

40489